#footer ul.icons .fa-LeagueLineup {
    background: transparent url(images/LeagueLineup_mono.png) no-repeat;
    background-size: contain !important;
}
#footer ul.icons .fa-LeagueLineup:hover {
    background: rgba(224, 224, 224, 0.15) url(images/LeagueLineup_mono.png) no-repeat !important;
    background-size: contain !important;
}
#footer ul.icons .fa-SportsSignUp {
    background: transparent url(images/SportsSignUpPlay_mono.png) no-repeat;
    background-size: contain !important;
}
#footer ul.icons .fa-SportsSignUp:hover {
    background: rgba(224, 224, 224, 0.15) url(images/SportsSignUpPlay_mono.png) no-repeat !important;
    background-size: contain !important;
}
#footer ul.icons .fa-SportsEngine {
    background: transparent url(images/SportsEngine_mono.png) no-repeat;
    background-size: contain !important;
}
#footer ul.icons .fa-SportsEngine:hover {
    background: rgba(224, 224, 224, 0.15) url(images/SportsEngine_mono.png) no-repeat !important;
    background-size: contain !important;
}