@font-face {
    font-family: 'Back to Black Bold';
    src:  
        url('../fonts/Back%20to%20Black%20Bold.woff2') format('woff2'), 
        url('../fonts/Back%20to%20Black%20Bold.woff') format('woff'),
        url('../fonts/Back%20to%20Black%20Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blazed';
    src: url('../fonts/Blazed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PaintDrops';
    src: url('../fonts/PaintDropsRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pieces Of Eight';
    src: url('../fonts/Pieces%20of%20Eight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adventure';
    src: url('../fonts/Adventure.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.fonts {
    font-family: 'Lobster', cursive;
    font-family: 'Metal Mania', cursive;
    font-family: 'Norican', cursive;
    font-family: 'Pirata One', cursive;
    font-family: 'Trade Winds', cursive;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.marauder-red {
    color: #9c0000;
}

.fancy-title {
    color: #9c0000;
    font-size: 48pt; 
    font-family: 'Back to Black Bold';
}

.news-header {    
    color: #9c0000;
    font-size: 48pt; 
    font-family: 'Metal Mania', cursive;
}

.news-image {
    width: 100%;
}

.news-image img {
    border-radius: 30px; 
    margin: auto;
}

.news-header-stroked {
    font-weight: bold;
    font-style: italic;
}

.highlight-win {
    font-family: 'Pieces of Eight';
    font-size:x-large; 
    font-weight: bold;
    color:green; 
    padding-left:10px;
    white-space:nowrap;
}
.highlight-loss {
    font-family: 'Pieces of Eight';
    font-size:x-large; 
    font-weight: bold;
    color:#9c0000; 
    padding-left:10px;
    white-space:nowrap;
}
.highlight-split {
    font-family: 'Pieces of Eight';
    font-size:x-large; 
    font-weight: bold;
    padding-left:10px;
    white-space:nowrap;
    background: -webkit-linear-gradient(left, green, #9c0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@supports (-webkit-text-stroke: 0.001em #9c0000) {
    .news-header-stroked {
        -webkit-text-stroke: 0.001em #9c0000; 
        -webkit-text-fill-color: #d8a056;
    }

    @media screen and (max-width: 992px) {
        .news-header-stroked {
            font-size: xxx-large;
            -webkit-text-stroke: 0.02em #9c0000;
        }
    }

    @-moz-document url-prefix() {
        .news-header-stroked {
            -webkit-text-stroke: 0.03em #9c0000;
        }
    }
}

.fire {
    font-family: 'Blazed';
    background: #ED8E13;
    background: -webkit-linear-gradient(to right, #ED8E13 0%, #F01815 100%);
    background: -moz-linear-gradient(to right, #ED8E13 0%, #F01815 100%);
    background: linear-gradient(to right, #ED8E13 0%, #F01815 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.news-emphasis {
    font-size: xx-large; 
    font-family: 'Metal Mania', cursive;
}

.news-emphasis-large {
    font-size: x-large; 
    font-family: 'Metal Mania', cursive;
}

.blink_me {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.hover-color img {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    -webkit-transition: all 1s ease;
}

.hover-color img:hover{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: 1s ease;
}

.border-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.border-wrap a {
    text-decoration: none;
    color: #222;
    padding: 20px;
    background: #efefef;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin: auto; 
    cursor: pointer;
}
.border-wrap a:before {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: calc(2px/-1);
    left: calc(2px/-1);
    background: linear-gradient(to right, blue 0%, blue 100%), linear-gradient(to top, blue 50%, transparent 50%), linear-gradient(to top, blue 50%, transparent 50%), linear-gradient(to right, blue 0%, blue 100%), linear-gradient(to left, blue 0%, blue 100%);
    background-size: 100% 2px, 2px 200%, 2px 200%, 0% 2px, 0% 2px;
    background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    transition: transform 0.3s ease-in-out, background-position 0.3s ease-in-out, background-size 0.3s ease-in-out;
    transform: scaleX(0) rotate(0deg);
    transition-delay: 0.6s, 0.3s, 0s;
}
.border-wrap a:hover:before {
    background-size: 200% 2px, 2px 400%, 2px 400%, 55% 2px, 55% 2px;
    background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
    transform: scaleX(1) rotate(0deg);
    transition-delay: 0s, 0.3s, 0.6s;
}
.border-wrap-2 a {
    position: relative;
}
.border-wrap-2 a:before {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: calc(4px/-1);
    left: calc(4px/-1);
    background: linear-gradient(to right, #9c0000 0%, #9c0000 100%), linear-gradient(to top, #9c0000 50%, transparent 50%), linear-gradient(to top, #9c0000 50%, transparent 50%), linear-gradient(to right, #9c0000 0%, #9c0000 100%), linear-gradient(to left, #9c0000 0%, #9c0000 100%);
    background-size: 100% 4px, 4px 200%, 4px 200%, 0% 4px, 0% 4px;
    background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    transition: transform 0.2s ease-in-out, background-position 0.2s ease-in-out, background-size 0.2s ease-in-out;
    transform: scaleX(0) rotate(180deg);
    transition-delay: 0.4s, 0.2s, 0s;
}
.border-wrap-2 a:hover:before {
    background-size: 200% 4px, 4px 400%, 4px 400%, 55% 4px, 55% 4px;
    background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
    transform: scaleX(1) rotate(180deg);
    transition-delay: 0s, 0.2s, 0.4s;
}
.border-wrap-3 a {
    position: relative;
    align-self: flex-end;
}
.border-wrap-3 a:before {
    content: "";
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    top: calc(10px/-1);
    left: calc(10px/-1);
    -webkit-mask: linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to left, #000 0%, #000 100%);
            mask: linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to left, #000 0%, #000 100%);
    -webkit-mask-size: 100% 10px, 10px 200%, 10px 200%, 0% 10px, 0% 10px;
            mask-size: 100% 10px, 10px 200%, 10px 200%, 0% 10px, 0% 10px;
    -webkit-mask-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
            mask-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    -webkit-mask-repeat: no-repeat, no-repeat;
            mask-repeat: no-repeat, no-repeat;
    transition: transform 0.4s ease-in-out, -webkit-mask-position 0.4s ease-in-out, -webkit-mask-size 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, mask-position 0.4s ease-in-out, mask-size 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, mask-position 0.4s ease-in-out, mask-size 0.4s ease-in-out, -webkit-mask-position 0.4s ease-in-out, -webkit-mask-size 0.4s ease-in-out;
    transform: scaleX(0) rotate(0deg);
    transition-delay: 0.8s, 0.4s, 0s;
    background: linear-gradient(to bottom, #40e0d0, #ff8c00, #ff0080);
}
.border-wrap-3 a:hover:before {
    -webkit-mask-size: 200% 10px, 10px 400%, 10px 400%, 55% 10px, 55% 10px;
            mask-size: 200% 10px, 10px 400%, 10px 400%, 55% 10px, 55% 10px;
    -webkit-mask-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
            mask-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
    transform: scaleX(1) rotate(0deg);
    transition-delay: 0s, 0.4s, 0.8s;
}


.live-border-container {
    position: relative;
    margin-bottom: 30px;
}
.live-border::before, .live-border::after, .live-border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.live-border {
    width: 200px;
    height: 50px;
    margin: auto;
    background: url("../../images/more-info.png") no-repeat 50%/70% rgba(0, 0, 0, 0.1);
    color: #9c0000;
    box-shadow: inset 0 0 0 1px rgba(156, 0, 0, 0.5);
}
.live-border:hover {
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    transition: 1s ease;
}
.live-border::before, .live-border::after {
    content: "";
    z-index: -1;
    margin: -5%;
    box-shadow: inset 0 0 0 2px;
    animation: clipMe 8s linear infinite;
}
.live-border::before {
    animation-delay: -4s;
}
.live-border:hover::after, .live-border:hover::before {
    background-color: rgba(255, 0, 0, 0.3);
}

@keyframes clipMe {
    0%, 100% {
        clip: rect(0px, 220px, 2px, 0px);
    }
    25% {
        clip: rect(0px, 2px, 70px, 0px);
    }
    50% {
        clip: rect(68px, 220px, 70px, 0px);
    }
    75% {
        clip: rect(0px, 220px, 70px, 218px);
    }
}

/****************** Style for Newletter Specifically ******************/
@media only screen and (min-width: 992px) {
    #header {
        padding: 5em 0 16em 0;
    }
}

#header .logo {
    background: #9c0000 url(../../images/mobsa-profile-badge-square.png) no-repeat;
    background-size: contain;
    width: 6em;
    height: 6em;
    margin: 0;
}

#header .fancy-title {
    font-size: 4em;
    color: #9c0000;
    margin: 0;
}

#header .fancy-subtitle {
    color: #fff;
    font-family: 'Metal Mania', cursive;
}

.feature .image img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    min-height: auto;
    min-width: auto;
    margin: auto;
    top: initial;
    right: initial;
    position: initial;
    border-radius: 30px;
}

.feature .image:after {
    background: none;
}

#footer {
    background-color: #9c0000;
}

ul.icons li {
    vertical-align: bottom;
    margin-bottom: 10px;
}
#footer ul.icons .fa-LeagueLineup {
    background: transparent url(images/LeagueLineup_mono.png) no-repeat;
    background-size: contain !important;
}
#footer ul.icons .fa-LeagueLineup:hover {
    background: rgba(224, 224, 224, 0.15) url(images/LeagueLineup_mono.png) no-repeat !important;
    background-size: contain !important;
}
#footer ul.icons .fa-SportsSignUp {
    background: transparent url(images/SportsSignUpPlay_mono.png) no-repeat;
    background-size: contain !important;
}
#footer ul.icons .fa-SportsSignUp:hover {
    background: rgba(224, 224, 224, 0.15) url(images/SportsSignUpPlay_mono.png) no-repeat !important;
    background-size: contain !important;
}

.feature image:hover img {
    transform: rotateY(180deg);
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-video-no-flip:hover .flip-card-inner {
    transform: none;
}
.flip-card-video .flip-card-front > span {
    position: absolute;
    padding-top: 0.3em;
    font-family: 'Pieces of Eight';
    font-size: xx-large;
    color: #9c0000;
}
@media screen and (max-width: 980px){
    .flip-card-video .flip-card-front > span {
        padding-top: 0;
        font-size: x-large;
    }
}
.flip-card-video .flip-card-front > video,
.flip-card-video .flip-card-front > iframe {
    width: 100%;
    height: 100%;
}


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #eaeaea;
    color: black;
    display: flex;
    justify-content: center;
}

/*
.flip-card-front-blend > img {
    mix-blend-mode: multiply;
}
*/
.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back > div {
    margin: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*
.flip-card-back > div > h1 {
    font-family: 'Pieces of Eight';
}
*/

.feature.left .flip-card-inner > .flip-card-back {
    background-color: #9c0000;
    
}
.feature.left .flip-card-inner > .flip-card-back h1 {
    color: #fff;
}
.feature.right .flip-card-inner > .flip-card-back {
    background-color: #d8a056;
}
.feature.right .flip-card-inner > .flip-card-back h1,
.feature.right .flip-card-inner > .flip-card-back p {
    color: #000;
}

.feature .content > div.mobile-only {
    margin-bottom: 30px;
}
.feature .content div.live-border-container{
    position: sticky;
    margin: auto;
}
.feature .content .live-border {
    position: relative;
    /*
    left: 50%;
    transform: translateX(-28%);
    */
}
.feature .content a:hover {
    color: #a3a3a3;
}
@media only screen and (max-width: 768px) {
    .mobile-only {
        display: flex;
    }
}
@media only screen and (min-width: 768px) { 
    .mobile-only {
        display: none;
    }
}

.slick-track {
    display: flex;
}

.sponsor_roll {
    background-color: #fff;
}
.sponsor_roll .slick-slide {
    margin: auto 60px;
    max-width: 95vw;
}
.sponsor_roll .slick-slide img {
    margin: 0 auto;
    object-fit: contain;
    width: -webkit-fill-available;
}


/* Sidebar Nav */
body {
	position: relative;
	overflow-x: hidden;
	/*background-color: #CFD8DC;*/
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#page-wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#page-wrapper.toggled {
	padding-left: 220px;
}

#sidebar-wrapper {
	z-index: 1000;
	left: 220px;
	width: 0;
	height: 100%;
	margin-left: -220px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #1a1a1a;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
display: none;
}

#page-wrapper.toggled #sidebar-wrapper {
	width: 220px;
}

#page-content-wrapper {
	width: 100%;
}

#page-wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
	padding: 0;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 220px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	position: relative; 
	line-height: 20px;
	display: inline-block;
	width: 100%;
}

.sidebar-nav li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 3px;
	background-color: #1c1c1c;
	-webkit-transition: width .2s ease-in;
	-moz-transition:  width .2s ease-in;
	-ms-transition:  width .2s ease-in;
			transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
	color: #fff;
	background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(5n+1):before {
	background-color: #3D8D00;   
}
.sidebar-nav li:nth-child(5n+2):before {
	background-color: #9C0000;   
}
.sidebar-nav li:nth-child(5n+3):before {
	background-color: #00609F;   
}
.sidebar-nav li:nth-child(5n+4):before {
	background-color: #005A00;   
}
.sidebar-nav li:nth-child(5n+5):before {
	background-color: #0094D7;   
}
/*
.sidebar-nav li:nth-child(5n+1):before {
	background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(5n+2):before {
	background-color: #79aefe;   
}
.sidebar-nav li:nth-child(5n+3):before {
	background-color: #314190;   
}
.sidebar-nav li:nth-child(5n+4):before {
	background-color: #279636;   
}
.sidebar-nav li:nth-child(5n+5):before {
	background-color: #7d5d81;   
}
*/

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
	width: 100%;
	-webkit-transition: width .2s ease-in;
	-moz-transition:  width .2s ease-in;
	-ms-transition:  width .2s ease-in;
			transition: width .2s ease-in;

}

.sidebar-nav li a {
	display: block;
	color: #ddd;
	text-decoration: none;
	padding: 10px 15px 10px 30px;    
    font-weight: normal;
    font-family: "Source Sans Pro", sans-serif;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}
.sidebar-header {
	text-align: center;
	font-size: 20px;
	position: relative;
	width: 100%;
	display: inline-block;
    background:#000;
	/*background: linear-gradient(to right bottom, #000 50%, #fff 50%);*/
}
.sidebar-brand {
	height: 65px;
	position: relative;
	/*
    background:#212531;
	background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
    /* padding-top: 1em; */
    background: transparent url(images/brand-header.png) no-repeat;
    background-size: contain !important;
    background-position: center;
}
.sidebar-brand a {
	color: #ddd;
}
.sidebar-brand a:hover {
	color: #fff;
	text-decoration: none;
}
.dropdown-header {
	text-align: center;
	font-size: 1em;
	color: #ddd;
	background:#212531;
	background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}
.sidebar-nav .dropdown-menu {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 0;
	border: none;
	background-color: #222;
	box-shadow: none;
}
.dropdown-menu.show {
	top: 0;
}
/*Fontawesome icons*/
.nav.sidebar-nav li a.free::before {

}
.nav.sidebar-nav li a::before {
	font-family: 'Font Awesome 5 Free';
	/* content: "\f12e"; */
	vertical-align: baseline;
	display: inline-block;
	padding-right: 5px;
	font-weight: 900;
    width: 35px;
    text-align: center;
}
.nav.sidebar-nav li a.fab::before {
    font-family: 'Font Awesome 5 Brands';
}
a[href*="#home"]::before {
content: "\f015" !important;
}
a[href*="#about"]::before {
content: "\f129" !important;
}
a[href*="#events"]::before {
content: "\f073" !important;
}
a[href*="#events"]::before {
content: "\f073" !important;
}
a[href*="#team"]::before {
content: "\f0c0" !important;
}
a[href*="#works"]::before {
content: "\f0b1" !important;
}
a[href*="#pictures"]::before {
content: "\f03e" !important;
}
a[href*="#videos"]::before {
content: "\f03d" !important;
}
a[href*="#books"]::before {
content: "\f02d" !important;
}
a[href*="#art"]::before {
content: "\f1fc" !important;
}
a[href*="#awards"]::before {
content: "\f02e" !important;
}
a[href*="#services"]::before {
content: "\f013" !important;
}
a[href*="#contact"]::before,
.sidebar-nav a.chat:before {
content: "\f086" !important;
}
a[href*="#email"]::before,
.sidebar-nav a.email:before{
content: "\f0e0" !important;
}
.sidebar-nav a.fa-LeagueLineup:before {
    content: "    ";
    background: transparent url(images/LeagueLineup_mono.png) no-repeat;
    background-size: contain !important;
    white-space: pre;
    background-position: center;
}
.sidebar-nav a.fa-SportsSignUp:before {
    content: "    ";
    background: transparent url(images/SportsSignUpPlay_mono.png) no-repeat;
    background-size: contain !important;
    white-space: pre;
    background-position: center;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
position: fixed;
top: 20px;  
z-index: 999;
display: block;
width: 32px;
height: 32px;
margin-left: 15px;
background: transparent;
border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
outline: none;
}
.hamburger.is-closed:before {
content: '';
display: block;
width: 100px;
font-size: 14px;
color: #fff;
line-height: 32px;
text-align: center;
opacity: 0;
-webkit-transform: translate3d(0,0,0);
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
opacity: 1;
display: block;
-webkit-transform: translate3d(-100px,0,0);
-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
position: absolute;
left: 0;
height: 4px;
width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
top: 5px; 
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
top: 50%;
margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
bottom: 5px;  
-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
top: 0;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
bottom: 0;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
top: 50%;
margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
-webkit-transform: rotate(45deg);
-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
-webkit-transform: rotate(-45deg);
-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
content: '';
display: block;
width: 100px;
font-size: 14px;
color: #fff;
line-height: 32px;
text-align: center;
opacity: 0;
-webkit-transform: translate3d(0,0,0);
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
opacity: 1;
display: block;
-webkit-transform: translate3d(-100px,0,0);
-webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(250,250,250,.8);
	z-index: 1;
}

.sidebar-nav ul.archive li {
	color: #fff;
	background-color: #1a1a1a;
}
.sidebar-nav ul.archive li:hover,
.sidebar-nav li.archive-root:hover {
	color: #fff;
	background-color: #9c0000;
}
.sidebar-nav li.archive-root:before,
.sidebar-nav li.archive-root li:before {
    background-color: #9c0000;
}

ul.accordian {
    list-style: none;
    padding: 0;
}
ul.accordian .inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
}
ul.accordian .inner.show {
    /* display: block; */
}
ul.accordian li {
    /* margin: 0.5em 0; */
}
ul.accordian li a.toggle {
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.78);
    color: #fefefe;
    padding: 0.75em;
    border-radius: 0.15em;
    transition: background 0.3s ease;
}
ul.accordian li a.toggle:hover {
    background: rgba(0, 0, 0, 0.9);
}

