/* https://mtolivebsa.github.io/se/assets/css/tourney.css */

/* @import url("https://fonts.googleapis.com/css?family=Sofia"); */

/* @import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk&display=swap");

.honk-<uniquifier> {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
  }
*/

@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

.tournamentHeaderAdSpot, .ad-spot { display: none; }

#tournamentHeader1_ui_Tournament_HyperLink {
    /* font-family: "Sofia", sans-serif; */
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#tournamentNote {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}