<div class="container medium">

    <header class="major last">
        <!--- <h2>Questions or comments?</h2> --->
    </header>

    <p>Follow us or send us a message: <a target="_blank" href="mailto:info@mtolivebsa.com">info@mtolivebsa.com</a></p>

    <ul class="icons">
        <!---<li><a target="_blank" href="//leaguelineup.mtolivebsa.com" class="icon brands fa-LeagueLineup"><span class="label">LeagueLineup</span></a></li>--->
        <li><a target="_blank" href="//mtolivebsa.sportngin.com" class="icon brands fa-SportsEngine"><span class="label">SportsEngine</span></a></li>
        <li><a target="_blank" href="//facebook.mtolivebsa.com" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a target="_blank" href="//instagram.mtolivebsa.com" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a target="_blank" href="//twitter.mtolivebsa.com" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a target="_blank" href="//youtube.mtolivebsa.com" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
        <li><a target="_blank" href="//squadlocker.mtolivebsa.com" class="brands fas fa-tshirt" title="Marauder Baseball Spirit Gear"></a></li>
        <li><a target="_blank" href="//marauder.myspreadshop.com/" class="brands fas fa-tshirt" title="Marauder Softball Spirit Gear"></a></li>
    </ul>

    <ul id="account-links" class="account-links alt"></ul>

    <ul class="copyright alt">
        <li>&copy; Mt Olive Baseball & Softball Association. All rights reserved.</li>
    </ul>

</div>